{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block body%}
<div class="afterbutton">
  <img src="static/img/whoweare/afterbuttonimg.png">
</div>
<div class="container">
  <h1 class="titleblock_left">Whu we are</h1>
  <div class="textcontent">
    <div class="contentleft">
      <p>HOUSE OF HOPE SEEKS TO HELP TEENAGERS AND YOUTH TO LEARN VALUABLE SKILLS AND BECOME MORE EDUCATION-FOCUSED IN ORDER TO IMPROVE THEIR ABILITY TO LIVE FULFILLING LIVES
WE INVEST IN CHILDREN AND YOUTH BELIEVING THAT CHILDREN AND YOUTH  ARE NOT ONLY OUR FUTURE, BUT ALSO OUR PRESENT. WE CANNOT SAVE THE WHOLE WORLD, BUT WE CAN SAVE SOMEONE’S WHOLE WORLD FOREVER. WE ARE COMMITTED TO INCREASE THE WELLBEING OF EACH YOUTH AND CHILD. WE BELIEVE IN EQUAL RIGHTS AND OPPORTUNITIES FOR EVERY INDIVIDUAL. DON'T YOU?</p>
    </div>
    <div class="contentright">
      <img src="static/img/whoweare/img1.png" class="blockfoto">
    </div>
  </div>
  <!-- <div class="blockstabs">
    <div class="tabs">
      <div class="tabs-triger">
        <a href="#tabs1" class="tabs-trigger_items is-active"  data-tab-name="tab-1"><img src="static/img/whoweare/tabbutton/mission.png" class="tab-image"><br><h1>MISSION & VISION</h1></a>
        <a href="#tabs2" class="tabs-trigger_items" data-tab-name="tab-2"><img src="static/img/whoweare/tabbutton/partners.png" class="tab-image"><br><h1>PARTNERS & SUPPORTERS</h1></a>
        <a href="#tabs3" class="tabs-trigger_items" data-tab-name="tab-3"><img src="static/img/whoweare/tabbutton/history.png" class="tab-image"><br><h1>HISTORY & AWARDS</h1></a>
        <a href="#tabs4" class="tabs-trigger_items" data-tab-name="tab-4"><img src="static/img/whoweare/tabbutton/team.png" class="tab-image"><br><h1>TEAMS</h1></a>
      </div>
      <div class="tabs-content">
        <div id="tabs1" class="tabs-content_items is-active tab-1">Content1</div>
        <div id="tabs2" class="tabs-content_items tabs-2">Content2</div>
        <div id="tabs3" class="tabs-content_items tabs-3">Content3</div>
        <div id="tabs4" class="tabs-content_items tabs-4">Content4</div>
      </div>
    </div>
  </div> -->
  <div class="wrapper">
	<div class="tabs">
		<div class="tabs__nav tabs-nav">
			<div class="tabs-nav__item is-active" data-tab-name="tab-1"><img src="static/img/whoweare/tabbutton/mission.png" class="tab-image"><h1>MISSION & VISION</h1></div>
			<div class="tabs-nav__item" data-tab-name="tab-2"><img src="static/img/whoweare/tabbutton/partners.png" class="tab-image"><h1>PARTNERS & SUPPORTERS</h1></div>
			<div class="tabs-nav__item" data-tab-name="tab-3"><img src="static/img/whoweare/tabbutton/history.png" class="tab-image"> <h1>HISTORY & AWARDS</h1> </div>
			<div class="tabs-nav__item" data-tab-name="tab-4"><img src="static/img/whoweare/tabbutton/team.png" class="tab-image"> <h1>TEAMS</h1> </div>
		</div>
		<div class="tabs__content">
			<div class="tab is-active tab-1"> Содержание таба 1</div>
			<div class="tab tab-2">Содержание таба 2</div>
			<div class="tab tab-3">Содержание таба 3</div>
			<div class="tab tab-4">Содержание таба 4</div>
		</div>
	</div>
</div>
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js" ></script> -->
  <!-- integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous" -->
  <script src="static/js/tabs.js"></script>
  <div class="inform-block">
    <div class="whocontent">
      <img src="static/img/whoweare/puzzle.png">
      <p>WE OFFER ACTIVITIES TO  IMPROVE LIFE SKILLS, SUCH AS LANGUAGE LESSONS, COOKING AND SEWING WORKSHOPS, MOVIE EVENINGS AND MORE</p>
    </div>
    <div class="whocontent">
      <img src="static/img/whoweare/education 1.png">
      <p>WE PROVIDE GROUP COUNSELING SERVICES AS WELL AS ONE-ON-ONE MENTORING TO YOUTH</p>
    </div>
    <div class="whocontent">
      <img src="static/img/whoweare/presentation 1.png">
      <p>TRAINING, INDIVIDUALIZED COACHING AND SUPPORT, AND NUMEROUS GROUP ACTIVITIES TO SUPPLEMENT THE ONE-TO-ONE SUPPORT AS WELL AS NUMEROUS FREE TIME ACTIVITIES THAT INCREASES THEIR QUALITY OF LIFE.</p>
    </div>
  </div>
</div>
{% endblock %}
